<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elhefny.askdoctor2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/ic_heart_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_heart_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AskDoctor">
        <activity android:name="com.elhefny.askdoctor2.DoctorProfile"></activity>
        <activity android:name="com.elhefny.askdoctor2.ProfileDeveloperActivity" />
        <activity android:name="com.elhefny.askdoctor2.Sign_Up_2" />
        <activity android:name="com.elhefny.askdoctor2.SelectedDepartmentDetailActivity" />
        <activity android:name="com.elhefny.askdoctor2.ForgetPassword" />
        <activity android:name="com.elhefny.askdoctor2.Sign_Up_0" />
        <activity android:name="com.elhefny.askdoctor2.Login_In" />
        <activity android:name="com.elhefny.askdoctor2.Sign_Up_1" />
        <activity
            android:name="com.elhefny.askdoctor2.Dashboard"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.elhefny.askdoctor2.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>